@charset "utf-8";
  @supports (font-variation-settings: normal)
:root {
    --font-family: 'Inter';
}
h1 {
    color: #d62828;
    font-size: 105px;
	line-height: 80%;
    text-indent: -0.03em;
    font-weight: 900;
}
h2 {
    color: #FFF;
    font-size: 35px;
	line-height: normal;
    text-indent: -0.03em;
    font-weight: 700;
}
p {
    color: #FFF;
    font-size: 24px;
    letter-spacing: -0.055em;
    text-indent: -0.03em;
    font-weight: 500;
}
@media screen and (max-width: 281px){
	body {
    margin-left: 0px;
    margin-right: 1111px;
}
}
