@charset "utf-8";
  @supports (font-variation-settings: normal)
:root {
    --font-family: 'Inter';
}

h1 {
    color: #d62828;
    font-size: 105px;
	line-height: 0;
	text-indent: -0.03em;
    font-weight: 900;
	letter-spacing: normal;
}
h2 {
    color: #FFF;
    font-size: 17px;
	line-height: 120%;
    text-indent: -0.03em;
    font-weight: 400;
	letter-spacing: normal;
}
h3 {
    color: #FFF;
    font-size: 30px;
	line-height: 125%;
    text-indent: -0.03em;
    font-weight: 800;
}
h4 {
    color: #FFF;
    font-size: 21px;
	line-height: 120%;
    text-indent: -0.03em;
    font-weight: 600;
    margin-bottom: 0%;
    letter-spacing: inherit;
}
h5 {
    color: #FFF;
    font-size: 16px;
	line-height: 120%;
    text-indent: -0.03em;
    font-weight: 400;
	letter-spacing: normal;
    margin-top: 0.5%;
    margin-bottom: 5%
}
p {
    color: #FFF;
    font-size: 24px;
	line-height: 80%;
    letter-spacing: -0.055em;
    text-indent: -0.03em;
    font-weight: 500;
}
ul {
	color: #FFF;
    font-size: 26px;
	line-height: 100%;
    letter-spacing: -0.055em;
    text-indent: -0.03em;
    font-weight: 600;
}