@charset "utf-8";
  @supports (font-variation-settings: normal)
:root {
    --font-family: 'Inter';
}
h1 {
    color: #d62828;
    font-size: 105px;
	line-height: 0;
    text-indent: -0.03em;
    font-weight: 900;
}
h2 {
    color: #FFF;
    font-size: 35px;
	line-height: 215%;
    text-indent: -0.03em;
    font-weight: 700;
}
h3 {
    color: #FFF;
    font-size: 30px;
	line-height: 0%;
    text-indent: -0.03em;
    font-weight: 800;
}
h4 {
    color: #FFF;
    font-size: 20px;
	line-height: 0%;
    text-indent: -0.03em;
    font-weight: 600;
}
h5 {
    color: #FFF;
    font-size: 15px;
	line-height: 0%;
    text-indent: -0.03em;
    font-weight: 400;
}
p {
    color: #FFF;
    font-size: 24px;
	line-height: 0%;
    letter-spacing: -0.055em;
    text-indent: -0.03em;
    font-weight: 500;
}
ul {
	color: #FFF;
    font-size: 24px;
	line-height: 170%;
    letter-spacing: -0.055em;
    text-indent: -0.03em;
    font-weight: 600;
}
@media screen and (max-width: 281px){
	body {
    margin-left: 0px;
    margin-right: 1111px;
}
}
